@font-face {
  font-family: "hussor-bold";
  src: url(./fonts/HussarBold.ttf);
}
.container{
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  font-family:"hussor-bold" ;
  color: rgb(0, 0, 0);
  border:rgb(0, 0, 0) 2px solid;
  width: 40vh;
  margin:1%;
  padding: 2%;
}
body{
  font-family:"hussor-bold"
}
.btn{
  border: none;
  background-color:rgb(0, 0, 0);
  color:white;
  padding: 2%;
  margin: 2%;
  cursor:pointer;
}

#root{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container:hover{
  background-color: black;
  color: white;
}

.case{
  text-transform: capitalize;
}

.loader {
  background-color:  #ffffff;
  border-radius: 50%;
  border-top: 10px rgba(255, 255, 255, 0 ) solid;
  border-left: 10px black dotted;
  border-bottom: 10px black dotted;
  /* border-right: 10px black dotted; */
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  margin-top: 35vh;
  /* margin-bottom: 35vh; */
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

